# here we exclude any files from the docker context 

# Git
.git
.gitignore

# Docker
.docker

# Python - to ignore cache, virtual environment files

app/_pycache__/
app/*/_pycache__/
app/*/*/_pycache__/
app/*/*/*/_pycache__/
.env/
.venv/
venv/